- id: '1703942982447'
  alias: Nightly Backup
  description: Backup everything in the middle of the night.
  triggers:
  - at: 03:33:00
    trigger: time
  conditions: []
  actions:
  - data:
      compressed: true
      location: hassbackup
    action: hassio.backup_full
  mode: single
- id: '1704637753708'
  alias: GrillLjus
  description: Ljus för att grilla
  triggers:
  - event_type: hue_event
    event_data:
      id: grillknapp_button
      type: short_release
    trigger: event
  conditions: []
  actions:
  - if:
    - condition: state
      entity_id: switch.uteflux
      state: 'on'
    then:
    - target:
        entity_id: switch.uteflux
      data: {}
      action: switch.turn_off
    - data:
        brightness: 255
        kelvin: 4000
      target:
        entity_id:
        - light.flygelvagg
        - light.altanvagg
        - light.grilly
        - light.koksvagg_1
        - light.koksvagg_2
      action: light.turn_on
    else:
    - target:
        entity_id: light.flygelvagg
      data:
        rgb_color:
        - 0
        - 191
        - 255
      action: light.turn_on
    - delay:
        hours: 0
        minutes: 0
        seconds: 1
        milliseconds: 0
    - target:
        entity_id: switch.uteflux
      data: {}
      action: switch.turn_on
  mode: single
- id: '1747675532170'
  alias: KöksfönsterLjus
  description: Ljus för att läsa
  triggers:
  - event_type: hue_event
    event_data:
      id: grillknapp_button
      type: long_release
    trigger: event
  conditions: []
  actions:
  - if:
    - condition: state
      entity_id: switch.koksflux
      state: 'on'
    then:
    - target:
        entity_id:
        - switch.koksflux
      data: {}
      action: switch.turn_off
    - data:
        brightness: 255
        kelvin: 4000
      action: light.turn_on
      target:
        entity_id: light.koksfonster
    else:
    - data:
        rgb_color:
        - 0
        - 191
        - 255
      action: light.turn_on
      target:
        entity_id: light.koksfonster
    - delay:
        hours: 0
        minutes: 0
        seconds: 1
        milliseconds: 0
    - data: {}
      action: switch.turn_on
      target:
        entity_id: switch.koksflux
  mode: single
- id: '1763490693370'
  alias: Slå på Flygel-AC
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.flygel_temperature
    for:
      hours: 0
      minutes: 5
      seconds: 0
    below: 20
  - trigger: numeric_state
    entity_id:
    - sensor.flygel_temperature
    for:
      hours: 0
      minutes: 5
      seconds: 0
    above: 26
  conditions: []
  actions:
  - action: climate.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: climate.flygel
  mode: single
- id: '1763491135040'
  alias: Stäng av Flygel-AC
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.flygel_temperature
    for:
      hours: 0
      minutes: 5
      seconds: 0
    above: 22
    below: 24
  conditions: []
  actions:
  - action: climate.turn_off
    metadata: {}
    data: {}
    target:
      device_id: 995ed5493f9db0ab8d2213eddf2568bd
  mode: single
- id: '1767453122377'
  alias: Larm offline
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - device_tracker.alarm
    from:
    - home
  conditions: []
  actions:
  - action: notify.mobile_app_bengts_mobil
    metadata: {}
    data:
      message: Bäst att kolla så det inte är något fuffens
      title: Larmet offline
  - action: notify.mobile_app_marias_mobil
    metadata: {}
    data:
      message: Bäst att kolla så det inte är något fuffens
      title: Larmet offline
  mode: single
