# Root configuration for home assistant
# Secrets are defined in the file secrets.yaml

homeassistant:
  # Name of the location where Home Assistant is running
  name: Hemma hos LMMB
  # URL:s for accessing hass instance
  internal_url: !secret internal_url
  external_url: !secret external_url
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 10
  # Location country code https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements
  country: SE
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  # Customization files
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml
  # No login for watch/phone, see https://www.home-assistant.io/docs/authentication/provider
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.0.30
        - 192.168.0.34
      trusted_users:
        192.168.0.30: !secret bengt_user_id
        192.168.0.34: !secret bengt_user_id
      allow_bypass_login: true

# Includes the default config, see https://www.home-assistant.io/integrations/default_config/
# Disabled. I do not use go2rtc atm.
#default_config:

# Enables the frontend
frontend:
  themes:  !include themes.yaml

# Enables configuration UI
config:

# Configure http(s)
http:
#  base_url: !secret base_url
  # Reverse proxy https server 192.168.0.10
  use_x_forwarded_for: true
  trusted_proxies: 192.168.0.10

# Configure database for recording stats
recorder:
#  db_url: !secret db_url
#  purge_keep_days: 14

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
#updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Enable voice chat and assist pipelines
conversation:
assist_pipeline:

# Enables support for tracking state changes over time. TODO: Remove unneeded lines...
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
#map:

# Enable energy tab
energy:

# Track the sun
sun:

# Support person component
person:

# Support python scripts
python_script:

# Support google home speaking
media_source:

# System health info support
system_health:

# WOL for SpelTV
wake_on_lan:

# Allow mobile companion apps
mobile_app:

# Track device location with nmap. See secrets.yaml for gpslogger configuration.
device_tracker:

# Enabled OTA for Ikea, see https://github.com/zigpy/zigpy/wiki/OTA-Configuration
zha:
  zigpy_config:
    ota:
      extra_providers:
        - type: ikea

# AC power toggle via Harmony. Copied as switch.ac to get icon color.
input_boolean:
  ac:
    name: Luftkonditionering
    icon: mdi:air-conditioner

# Energy prices, see sensor.yaml
#nordpool: # Now a standard plugin

# Nibe F370 heat pump plugin from https://github.com/elupus/hass_nibe 
# List of parameter IDs: https://github.com/openhab/openhab1-addons/wiki/Nibe-Heat-Pump-Binding
#nibe:
  # systems:
  #   - system: !secret nibe_system
  #     units:
  #       - unit: 0
  #     sensors:
  #       - 40083
  #       - 40081
  #       - 40079
utility_meter:
  # energy_daily:
  #   source: sensor.energy
  #   cycle: daily
  # energy_monthly:
  #   source: sensor.energy
  #   cycle: monthly
  # energy_yearly:
  #   source: sensor.energy
  #   cycle: yearly
  quarter_hourly_rain:
    source: sensor.rain_total
    cycle: quarter-hourly
  hourly_rain:
    source: sensor.rain_total
    cycle: hourly
  daily_rain:
    source: sensor.rain_total
    cycle: daily
  monthly_rain:
    source: sensor.rain_total
    cycle: monthly

# Cameras, reolink: https://github.com/fwestenberg/reolink_dev, see binary_sensor.yaml for camera motion sensor. Maybe check https://github.com/yottatsa/hass_nipca for DCS?
#go2rtc:
stream:
ffmpeg:
#camera:
#  - platform: generic
#    name: Yr Väder
#    still_image_url: !secret yr_svg_url
#    content_type: 'image/svg+xml'

# Mail. Used gmail filter-forwarding from hass_email to work without delay. It seems like gmail will deliver quicker to the sender address(!). TODO: Can't do this anymore after gapps shutdown?
notify:
  - name: email
    platform: smtp
    server: 192.168.0.10
    port: 25
    encryption: none
    sender: !secret hass_email
    recipient:
      - !secret bengt_email
      - !secret maria_email
      - !secret hem_email
    sender_name: Home Assistant

# Shell commands
shell_command:
  relax_denon_quick1: curl http://192.168.0.38/MAINZONE/QUICKSELECT/s_quickselect.asp?radioUserMode=Quick1
  relax_denon_quick2: curl http://192.168.0.38/MAINZONE/QUICKSELECT/s_quickselect.asp?radioUserMode=Quick2
  relax_denon_quick3: curl http://192.168.0.38/MAINZONE/QUICKSELECT/s_quickselect.asp?radioUserMode=Quick3

# Global scene selector for hue
input_select:
  scen:
    name: Huescen
    options:
      - Flux
      - Inget
      - Avslappning
      - Dimmad
      - Koncentration
      - Ljust
      - Läsning
      - Nattlampa
      - Styrka
      # - Savanna sunset # TODO: Different language in new and old bridges. Maybe update to a new set of favorites in all. Maybe fix after hue_activate_scene is deprecated?
      # - Tropical twilight
      # - Arctic aurora
      # - Spring blossom
    initial: Flux
    icon: mdi:theme-light-dark

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say
#    base_url: http://192.168.0.12:8123

# Lovelace UI
lovelace:
  mode: yaml
  resources:
    # https://github.com/thomasloven/lovelace-auto-entities/
    - url: /local/auto-entities.js
      type: module
    # https://github.com/tomvanswam/compass-card
    - url: /local/compass-card.js
      type: module
    # https://github.com/Makin-Things/platinum-weather-card
    # Copy js-files from release files and extract icons from zip-file in release files
    - url: /local/platinum-weather-card/platinum-weather-card.js
      type: module

# Includes of other config files
scene: !include scenes.yaml
zone: !include zone.yaml
template: !include template.yaml
sensor: !include sensor.yaml
binary_sensor: !include binary_sensor.yaml
switch: !include switch.yaml
command_line: !include command_line.yaml
google_assistant: !include google_assistant.yaml
group: !include group.yaml
automation: !include automations.yaml
automation old: !include automations_manual.yaml
script: !include script.yaml
